# SMTP server settings
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@example.com
SMTP_PASS=your-email-password

# Adresa la care vrei să primești mesajele
RECEIVER_EMAIL=destinatar@example.com
